{% extends 'base.html' %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2 class="text-center">Intervenants par Délégation</h2>
        </div>
        <div class="col-4">
            <form class="formi" id="form-search-id" action="{{ url_for('search_benevole_by_id') }}" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recherche par n°/nom" name="id" aria-label="Recipient's username" aria-describedby="button-addon2" action="{{ url_for('recherche8') }}" method="post">
                    <button class="btn btn-outline-secondary" type="submit" form="form-search-id" id="button-addon2">Rechercher</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}

<!-- accordion -->
{% for dele in delegation %}
<div class="accordion mb-2" id="accordion-{{ loop.index }}">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading{{ loop.index }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
        {{ dele }}
      </button>
    </h2>
    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordion-{{ loop.index }}">
      <div class="accordion-body">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Numéro d'Adhérent</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for benevole in benevoles %}
                        {% if benevole.delegation == dele %}
                        <tr style="transform: rotate(0);">
                            <th scope="row"><a href="{{ url_for('benevole', id=benevole.id) }}" class="stretched-link text-decoration-none text-dark">{{ benevole.id}}</a></th>
                            <td>{{ benevole.nom }}</td>
                            <td>{{ benevole.prenom }}</td>
                            <td>{{ benevole.contact.email }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}
