<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image">
    <!-- Bootstrap -->
    {{ bootstrap.load_css() }}


    {% block additional_css %}{% endblock %}

  </head>
  <body>
    <!-- header -->
    <div class="container">
      {% include "header.html" %}
    </div>

    <!-- Layout du site -->
    <main role="main" class="container py-4">

      {% block page_header %} {% endblock page_header %}

        {% block content %} {% endblock %}

      </div>

    </main>

    <!-- bootstrap js -->
    {{ bootstrap.load_js() }}

  </body>
</html>
