{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block title %} Fiche compétence {% endblock %}

{% block page_header %} {% endblock page_header %}

{% block content %}

<!-- flash messages -->
{% with messages = get_flashed_messages() %}
   {% if messages %}
         {{ render_messages() }}
   {% endif %}
{% endwith %}
<!-- end -->

<!-- montrer la fiche d'un intervenant -->
  {% for b in benevole_par_id %}
  <div class="card shadow p-3 mb-5 bg-body rounded">
    <div class="card-header bg-primary rounded text-white text-center">
        Informations personnelles
    </div>
    <!-- Infos générales -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Numéro d'adhérent</p>
                    </div>
                    <div class="col">
                        {{ b.id}}
                    </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Nom</p>
                    </div>
                    <div class="col">
                        {{ b.nom }} {{ b.prenom}}
                    </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Adresse Mail</p>
                    </div>
                    <div class="col">
                        {{ b.contact.email}}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                            <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Modifier
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Mettre à jour l'email</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                    <div class="modal-body">
                                    <form class="formi" id="form-modal-update" action="{{url_for('update_benevole', id=b.id, champs='email')}}" method="post">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="{{ b.contact.email }}" name="value" method="post">
                                        </div>
                                    </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-update">Mettre à jour</button>
                                    </div>

                                </div>
                              </div>
                            </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Numéro de téléphone</p>
                    </div>
                    <div class="col">
                        {{ b.contact.numéro}}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                            <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalNuméro">
                              Modifier
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="ModalNuméro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Mettre à jour le numéro de tél.</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                    <div class="modal-body">
                                    <form class="formi" id="form-modal-numéro-update" action="{{url_for('update_benevole', id=b.id, champs='numéro')}}" method="post">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="{{ b.contact.numéro }}" name="value" method="post">
                                        </div>
                                    </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-numéro-update">Mettre à jour</button>
                                    </div>

                                </div>
                              </div>
                            </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <!-- Délégation -->
        <div class="card-header bg-primary rounded text-white text-center">
            Délégation
        </div>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Délégation</p>
                    </div>
                    <div class="col">
                        {{ b.delegation }}
                    </div>
            </div>
        </li>
        <!-- Volontaire -->
        <div class="card-header bg-primary rounded text-white text-center">
            Volontaire
        </div>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Volontaire à l'international</p>
                    </div>
                    <div class="col">
                        {% if b.volontaire_string %}
                            {{ b.volontaire_string }}
                        {% elif b.volontaire.inter %}
                            Oui
                        {% else %}
                            Oui, Depuis la France uniquement
                        {% endif %}
                    </div>
            </div>
        </li>
        <div class="card-header bg-primary rounded text-white text-center">
            Disponibilités
        </div>
        <!-- Disponibilités -->
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Type de mission/projet</p>
                    </div>
                    <div class="col">
                        {{ b.disponibilités.mission_ou_projet }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalMissionsProjets">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalMissionsProjets" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalMissionsProjets">Mettre à jour le type de disponibilité</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-missions-update" action="{{url_for('update_benevole', id=b.id, champs='mission_ou_projet')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.disponibilités.mission_ou_projet }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-missions-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Durée du déplacement</p>
                    </div>
                    <div class="col">
                        {{ b.disponibilités.durée }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalDurée">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalDurée" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour la durée des déplacements</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-durée-update" action="{{url_for('update_benevole', id=b.id, champs='durée')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.disponibilités.durée }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-durée-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Nombre de déplacements</p>
                    </div>
                    <div class="col">
                        {{ b.disponibilités.nb_déplacements }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalDéplacements">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalDéplacements" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour les déplacements</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-nb-update" action="{{url_for('update_benevole', id=b.id, champs='nb_déplacements')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.disponibilités.nb_déplacements }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-nb-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <div class="card-header bg-primary rounded text-white text-center">
            Langues
        </div>
        <!-- Langues -->
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Langue maternelle</p>
                    </div>
                    <div class="col">
                        {{b.langues.maternelle }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalLangMaternelle">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalLangMaternelle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour les langues maternelles</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-maternelle-update" action="{{url_for('update_benevole', id=b.id, champs='maternelle')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.langues.maternelle }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-maternelle-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Autonome en</p>
                    </div>
                    <div class="col">
                        {{b.langues.autonome }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalLangAutonome">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalLangAutonome" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour les langues avec un niveau Autonome</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-autonome-update" action="{{url_for('update_benevole', id=b.id, champs='autonome')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.langues.autonome }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-autonome-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Notions de</p>
                    </div>
                    <div class="col">
                        {{ b.langues.notions }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalLangNotions">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalLangNotions" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour les langues avec des notions</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-notions-update" action="{{url_for('update_benevole', id=b.id, champs='notions')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.langues.notions }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-notions-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Langues Lu Parlé Ecrit</p>
                    </div>
                    <div class="col">
                        {{ b.langues.lu_parlé_écrit }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalLangLuParléEcrit">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalLangLuParléEcrit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour les langues lus, parlées, écrites</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-parlé-update" action="{{url_for('update_benevole', id=b.id, champs='lu_parlé_écrit')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.langues.lu_parlé_écrit }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-parlé-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <div class="card-header bg-primary rounded text-white text-center">
            Domaines et secteurs d'intervention
        </div>
        <!-- Domaines et secteurs -->
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Secteurs</p>
                    </div>
                    <div class="col">
                        {{ b.DomainesEtSecteurs.secteurs }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalSecteurs">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalSecteurs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour les secteurs de compétence</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-secteurs-update" action="{{url_for('update_benevole', id=b.id, champs='secteurs')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.DomainesEtSecteurs.secteurs }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-secteurs-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Domaines</p>
                    </div>
                    <div class="col">
                        {{ b.DomainesEtSecteurs.domaines }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalDomaines">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalDomaines" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour les domaines de compétence</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-domaines-update" action="{{url_for('update_benevole', id=b.id, champs='domaines')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.DomainesEtSecteurs.domaines }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-domaines-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Compétences</p>
                    </div>
                    <div class="col">
                        {{ b.DomainesEtSecteurs.compétences }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalCompétences">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalCompétences" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour les secteurs de compétence</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-compétences-update" action="{{url_for('update_benevole', id=b.id, champs='compétences')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.DomainesEtSecteurs.compétences }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-compétences-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Fonctions</p>
                    </div>
                    <div class="col">
                        {{ b.DomainesEtSecteurs.fonctions }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalFonctions">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalFonctions" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour les secteurs de fonction</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-fonctions-update" action="{{url_for('update_benevole', id=b.id, champs='fonctions')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.DomainesEtSecteurs.fonctions }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-fonctions-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>

        <!-- Expérience du bénévole -->
        <div class="card-header bg-primary rounded text-white text-center">
            Expériences Internationnales
        </div>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Rôles</p>
                    </div>
                    <div class="col">
                        {{ b.ExperienceInterBenevole.roles }}
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalRoles">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalRoles" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour les rôles</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-roles-update" action="{{url_for('update_benevole', id=b.id, champs='roles')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.ExperienceInterBenevole.roles }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-roles-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Professionelles</p>
                    </div>
                    <div class="col">
                        <p class="lh-sm">{{ b.ExperienceInterBenevole.expérience_internationale }}</p>
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalExpInter">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalExpInter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour l'expérience internationale</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-inter-update" action="{{url_for('update_benevole', id=b.id, champs='expérience_internationale')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.ExperienceInterBenevole.expérience_internationale }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-inter-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>
        <li class="list-group-item">
            <div class="row py-2 mb-1">
                    <div class="col-2">
                        <p class="fw-bolder text-muted">Comme Bénévole</p>
                    </div>
                    <div class="col">
                        <p class="lh-sm">{{ b.ExperienceInterBenevole.expérience_internationale_benevole }}</p>
                    </div>
                    {% if 'AI' in current_user.roles %}
                    <div class="col-1 d-flex flex-row-reverse">
                        <!-- Button trigger modal -->
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalExpBénévole">
                            Modifier
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalExpBénévole" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mettre à jour l'expérience en tant que bénévole</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="formi" id="form-modal-bénévole-update" action="{{url_for('update_benevole', id=b.id, champs='expérience_internationale_benevole')}}" method="post">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{ b.ExperienceInterBenevole.expérience_internationale_benevole }}" name="value" method="post">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" form="form-modal-bénévole-update">Mettre à jour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </li>

    </ul>

  </div>
  {% endfor %}

{% endblock %}
