{% extends "base.html" %}

{% block content %}
    {% for b in benevole %}
        <h1>Bénévole : {{ b.nom }} {{ b.prenom}} </h1>
        <h3>Numéro d'adhérent : {{ b.id}} </h3>
        <ul> <p> Informations personnelles </p>
            <li> Mail : {{ b.contact.email}} </li>
            <li> Numéro : {{ b.contact.numéro}} </li>
        </ul>

        <ul>
            <p> Volontaire </p>
            {% if b.volontaire.inter %}
            <li> Oui </li>
            {% else %}
            <li> Oui, depuis la France uniquement </li>
            {% endif %}
        </ul>

        <ul> <p>Disponibilités </p>
            <li>Type de mission/projet : {{ b.disponibilités.mission_ou_projet }}</li>
            <li>Durée du déplacement : {{ b.disponibilités.durée }}</li>
            <li>Nombre de déplacements : {{ b.disponibilités.nb_déplacements }}</li>
        </ul>

        <ul> <p>Domaines et Secteurs d'expertise</p>
            <li> Secteurs : {{ b.DomainesEtSecteurs.secteurs }}</li>
            <li> Domaines : {{ b.DomainesEtSecteurs.domaines }}</li>
            <li> Compétences : {{ b.DomainesEtSecteurs.compétences }}</li>
            <li> Fonctions : {{ b.DomainesEtSecteurs.fonctions }}</li>
        </ul>

        <ul> <p>Expérience Internationnale </p>
            <li> Rôles : {{ b.ExperienceInterBenevole.roles }}</li>
            <li> Expérience internationnale : {{ b.ExperienceInterBenevole.expérience_internationale }}</li>
            <li> Expérience internationnale comme bénévole : {{ b.ExperienceInterBenevole.expérience_internationale_benevole }}</li>
        </ul>

        <ul> <p> Niveau de langue </p>
            <li>Langue maternelle : {{b.langues.maternelle }} </li>
            <li>Autonome en : {{b.langues.autonome }} </li>
            <li>Notions de : {{b.langues.notions }} </li>
            <li>Langues Lu Parlé Ecrit : {{b.langues.lu_parlé_écrit }} </li>
            <li>Langues non connues : {{b.langues.ne_connait_pas }} </li>
        </ul>
    {% endfor %}

{% endblock %}
