{% extends 'base.html' %}

{% block page_header %}
<h2 class="d-flex justify-content-center mb-2">Recherche par combinaison</h2>
{% endblock page_header %}

{% block content %}


<div class="all">
  <form class="formi" id="my-form" action="{{ url_for('text_result_combinaison') }}" method="post">
    <div class="row mb-2">
      <div class="col-4">
        <p>Critères de recherche pour l'intervention</p>
        <div class="form-group">
          <select class="form-select" name="champs">
            <option value="#"></option>
            <option value="maternelle">Langue : maternelle</option>
            <option value="autonome">Langue : autonome</option>
            <option value="notions">Langue: notions</option>
            <option value="lu_parlé_écrit">Langue : lu parlée écrite</option>
            <option value="secteurs">Secteur d'intervention</option>
            <option value="domaines">Domaine d'intervetion</option>
            <option value="fonctions">Fonction d'intervention</option>
            <option value="compétences">Compétence d'intervention</option>
            <option value="expérience_internationale">Expérience Pays (Pro)</option>
            <option value="expérience_internationale_benevole">Expérince Pays (Bénévolat)</option>
          </select>
        </div>
      </div>
      <div class="col-8">
        <p>Spécificité</p>
        <input type="text" class="form-control" name="recherche"  placeholder="Mot clé" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <div class="form-group">
          <select class="form-select" name="champs">
            <option value="#"></option>
            <option value="maternelle">Langue : maternelle</option>
            <option value="autonome">Langue : autonome</option>
            <option value="notions">Langue: notions</option>
            <option value="lu_parlé_écrit">Langue : lu parlée écrite</option>
            <option value="secteurs">Secteur d'intervention</option>
            <option value="domaines">Domaine d'intervetion</option>
            <option value="fonctions">Fonction d'intervention</option>
            <option value="compétences">Compétence d'intervention</option>
            <option value="roles">Roles</option>
            <option value="expérience_internationale">Expérience Pays (Pro)</option>
            <option value="expérience_internationale_benevole">Expérince Pays (Bénévolat)</option>
          </select>
        </div>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" name="recherche" placeholder="Mot clé" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <div class="form-group">
          <select class="form-select" name="champs">
            <option value="#"></option>
            <option value="maternelle">Langue : maternelle</option>
            <option value="autonome">Langue : autonome</option>
            <option value="notions">Langue: notions</option>
            <option value="lu_parlé_écrit">Langue : lu parlée écrite</option>
            <option value="secteurs">Secteur d'intervention</option>
            <option value="domaines">Domaine d'intervetion</option>
            <option value="fonctions">Fonction d'intervention</option>
            <option value="compétences">Compétence d'intervention</option>
            <option value="roles">Roles</option>
            <option value="expérience_internationale">Expérience Pays (Pro)</option>
            <option value="expérience_internationale_benevole">Expérince Pays (Bénévolat)</option>
          </select>
        </div>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" name="recherche" placeholder="Mot clé" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <div class="form-group">
          <select class="form-select" name="champs">
            <option value="#"></option>
            <option value="maternelle">Langue : maternelle</option>
            <option value="autonome">Langue : autonome</option>
            <option value="notions">Langue: notions</option>
            <option value="lu_parlé_écrit">Langue : lu parlée écrite</option>
            <option value="secteurs">Secteur d'intervention</option>
            <option value="domaines">Domaine d'intervetion</option>
            <option value="fonctions">Fonction d'intervention</option>
            <option value="compétences">Compétence d'intervention</option>
            <option value="roles">Roles</option>
            <option value="expérience_internationale">Expérience Pays (Pro)</option>
            <option value="expérience_internationale_benevole">Expérince Pays (Bénévolat)</option>
          </select>
        </div>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" name="recherche" placeholder="Mot clé" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <div class="form-group">
          <select class="form-select" name="champs">
            <option value="#"></option>
            <option value="maternelle">Langue : maternelle</option>
            <option value="autonome">Langue : autonome</option>
            <option value="notions">Langue: notions</option>
            <option value="lu_parlé_écrit">Langue : lu parlée écrite</option>
            <option value="secteurs">Secteur d'intervention</option>
            <option value="domaines">Domaine d'intervetion</option>
            <option value="fonctions">Fonction d'intervention</option>
            <option value="compétences">Compétence d'intervention</option>
            <option value="roles">Roles</option>
            <option value="expérience_internationale">Expérience Pays (Pro)</option>
            <option value="expérience_internationale_benevole">Expérince Pays (Bénévolat)</option>
          </select>
        </div>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" name="recherche" placeholder="Mot clé" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <div class="form-group">
          <select class="form-select" name="champs">
            <option value="#"></option>
            <option value="maternelle">Langue : maternelle</option>
            <option value="autonome">Langue : autonome</option>
            <option value="notions">Langue: notions</option>
            <option value="lu_parlé_écrit">Langue : lu parlée écrite</option>
            <option value="secteurs">Secteur d'intervention</option>
            <option value="domaines">Domaine d'intervetion</option>
            <option value="fonctions">Fonction d'intervention</option>
            <option value="compétences">Compétence d'intervention</option>
            <option value="roles">Roles</option>
            <option value="expérience_internationale">Expérience Pays (Pro)</option>
            <option value="expérience_internationale_benevole">Expérince Pays (Bénévolat)</option>
          </select>
        </div>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" name="recherche" placeholder="Mot clé" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <div class="form-group">
          <select class="form-select" name="champs">
            <option value="#"></option>
            <option value="maternelle">Langue : maternelle</option>
            <option value="autonome">Langue : autonome</option>
            <option value="notions">Langue: notions</option>
            <option value="lu_parlé_écrit">Langue : lu parlée écrite</option>
            <option value="secteurs">Secteur d'intervention</option>
            <option value="domaines">Domaine d'intervetion</option>
            <option value="fonctions">Fonction d'intervention</option>
            <option value="compétences">Compétence d'intervention</option>
            <option value="roles">Roles</option>
            <option value="expérience_internationale">Expérience Pays (Pro)</option>
            <option value="expérience_internationale_benevole">Expérince Pays (Bénévolat)</option>
          </select>
        </div>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" name="recherche" placeholder="Mot clé" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <div class="form-group">
          <select class="form-select" name="champs">
            <option value="#"></option>
            <option value="maternelle">Langue : maternelle</option>
            <option value="autonome">Langue : autonome</option>
            <option value="notions">Langue: notions</option>
            <option value="lu_parlé_écrit">Langue : lu parlée écrite</option>
            <option value="secteurs">Secteur d'intervention</option>
            <option value="domaines">Domaine d'intervetion</option>
            <option value="fonctions">Fonction d'intervention</option>
            <option value="compétences">Compétence d'intervention</option>
            <option value="roles">Roles</option>
            <option value="expérience_internationale">Expérience Pays (Pro)</option>
            <option value="expérience_internationale_benevole">Expérince Pays (Bénévolat)</option>
          </select>
        </div>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" name="recherche" placeholder="Mot clé" />
      </div>
    </div>
    <!--  -->
      <!-- pas radio mais marche -->
      <input class="form-check-input" type="checkbox" id="inter" name="Inter"
         checked>
      <label for="inter">Inter</label>

      <input class="form-check-input" type="checkbox" id="france" name="France">
      <label for="france">France uniquement</label>

      <!-- Copier bootstrap -->
      <!-- <div class="form-check">
        <input class="form-check-input" type="radio" name="inter" id="inter" checked>
        <label class="form-check-label" for="inter">
          Inter
        </label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="france" id="france">
        <label class="form-check-label" for="france">
          France uniquement
        </label>
      </div> -->
  </form>
  <button class="btn btn-primary" type="submit" form="my-form">Rechercher</button>
</div>



{% endblock %}
