<main>
<header>
    <div class="px-3 ">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0">
            <img src="{{ url_for('static', filename='img/logo2.jpg') }}" alt="Logo" width="80" height="64">
            <img src="{{ url_for('static', filename='img/logo40ans.jpg') }}" alt="Logo" width="80" height="64">
          </a>
          <!-- milieu di div -->
          <div class="d-flex flex-column align-items-center">
            <div class="row">
              <span class="fs-3 text-primary">AGIRabcd</span>
            </div>
            <div class="row">
              <small class="fs-5 fst-italic text-primary">Profil des volontaires international</small>
            </div>
          </div>
          <!-- fin de la div -->
          <div class="col-md-3 text-end">
            <a type="button" class="btn btn-outline-primary me-2" href="{{ url_for('logout') }}">Se déconnecter</a>
          </div>
        </div>
      </div>
    </div>

    <!-- header du dessous -->
    <div class="px-3 py-2 border-bottom mb-3 bg-light text-white">
      <div class="container d-flex flex-wrap justify-content-center">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-dark">Accueil</a></li>
          <!-- dropdown bénévole -->
          <li class="nav-item dropdown">
            {% if 'AI' in current_user.roles %}
              <a class="nav-link link-dark dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Bénévoles</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown03">
                <li><a class="dropdown-item" href="{{ url_for('accordeon_delegation') }}">Tous les intervenants</a></li>
                <li><a class="dropdown-item" href="{{ url_for('register_benevole') }}">Enregistrer un bénévole</a></li>
              </ul>
            {% endif %}
            {% if 'Intervenant' in current_user.roles %}
              <li><a class="nav-link px-2 link-dark" href="{{ url_for('benevole', id=current_user.numero) }}">Voir ma fiche</a></li>
            {% endif %}

          </li>
          <!-- dropdown recherche -->
          {% if 'AI' in current_user.roles %}
          <li class="nav-item dropdown">
            <a class="nav-link link-dark dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Recherche</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="{{ url_for('search_text') }}">Recherche</a></li>
              <li><a class="dropdown-item" href="{{ url_for('recherche8') }}">Recherche avancée</a></li>
            </ul>
          </li>
          {% endif %}
          <li class="nav-item dropdown text-end">
            <a class="nav-link link-dark dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Informations</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="{{ url_for('help') }}">Aide</a></li>
              <li><a class="dropdown-item" href="{{ url_for('contact') }}">Contact</a></li>
              <li><a class="dropdown-item" href="{{ url_for('a_propos') }}">A propos de...</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!-- fin double header -->



</header>

