{% extends 'base.html' %}
{% block content %}
<div>
    <p>Comment faire une recherche ?</p>
    <li>Aller dans l'onglet Rechercher un bénévole</li>
    <li>Dans la bar de texte, écrire votre recherche de la façcon suivante:</li>
    <li>francais: maternelle, compétences: création, fonctions: président</li>

    <li>Le terme de gauche (avant les ":" francais, compétences, fonctions) doit être un terme présent dans la base !</li>
    <li>Voici la liste de tous les termes possibles:</li>
    <li>secteurs</li>
    <li>domaines</li>
    <li>fonctions</li>
    <li>compétences</li>
    <li>numéro</li>
    <li>email</li>
    <li>francais</li>
    <li>anglais</li>
    <li>espagnol</li>
    <li>allemand</li>
    <li>italien</li>
    <li>portugais</li>
    <li>chinois</li>
    <li>russe</li>
    <li>arabe</li>
    <li>autres</li>

    <li>Le terme de droite (apres les ":") est totalement libre en fonction de votre recherche !</li>
    <li>N'oublier pas de bien séparer les différentes mots clés par des virgules !</li>


</div>
{% endblock %}
