{% extends 'base.html' %}

{% block content %}
<div>
    <p>Comment fonctionne la recherche avancée ?</p>
    <li>La recherche avancée fonctionne par combinaison de tous les éléments avec le PREMIER.</li>
    <li>Prenons les mots clés : Enseignant, Francais et Congo</li>
    <li>Le résultat de la combinaison sera : </li>

    <li>Enseignant, Enseignant + Francais, Enseignant + Congo, Enseignant + Francais + Congo</li>
    <li>Il est donc important de bien mettre le mot clé princiapal le plus important de votre recherche dans le premier champs !</li>
    <li>De plus faites bien attention a ne pas faire de faute dans les mots clés sinon les résultats seront faussés.</li>



</div>
{% endblock %}
