{% extends 'base.html' %}

{% block content %}


<div class="all">
  <form class="formi" id="my-form" action="{{ url_for('recherche8') }}" method="post">
    <div class="form-group">
      <input type="text" name="recherche" />
      <select name="champs">
        <option value="francais">Francais</option>
        <option value="anglais">Anglais</option>
        <option value="espagnol">Espagnol</option>
        <option value="allemand">Allemand</option>
        <option value="italien">Italien</option>
        <option value="portugais">Portugais</option>
        <option value="chinois">Chinois</option>
        <option value="russe">Russe</option>
        <option value="arabe">Arabe</option>
        <option value="autres">Autres Langues</option>
        <option value="secteurs">Secteurs</option>
        <option value="domaines">Domaines</option>
        <option value="fonctions">Fonctions</option>
        <option value="compétences">Compétences</option>
        <option value="roles">Roles</option>
        <option value="expérience_internationale">Expérience Inter</option>
        <option value="expérience_internationale_benevole">Expérince Inter Bénévole</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="recherche" />
      <select name="champs">
        <option value="francais">Francais</option>
        <option value="anglais">Anglais</option>
        <option value="espagnol">Espagnol</option>
        <option value="allemand">Allemand</option>
        <option value="italien">Italien</option>
        <option value="portugais">Portugais</option>
        <option value="chinois">Chinois</option>
        <option value="russe">Russe</option>
        <option value="arabe">Arabe</option>
        <option value="autres">Autres Langues</option>
        <option value="secteurs">Secteurs</option>
        <option value="domaines">Domaines</option>
        <option value="fonctions">Fonctions</option>
        <option value="compétences">Compétences</option>
        <option value="roles">Roles</option>
        <option value="expérience_internationale">Expérience Inter</option>
        <option value="expérience_internationale_benevole">Expérince Inter Bénévole</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="recherche" />
      <select name="champs">
        <option value="francais">Francais</option>
        <option value="anglais">Anglais</option>
        <option value="espagnol">Espagnol</option>
        <option value="allemand">Allemand</option>
        <option value="italien">Italien</option>
        <option value="portugais">Portugais</option>
        <option value="chinois">Chinois</option>
        <option value="russe">Russe</option>
        <option value="arabe">Arabe</option>
        <option value="autres">Autres Langues</option>
        <option value="secteurs">Secteurs</option>
        <option value="domaines">Domaines</option>
        <option value="fonctions">Fonctions</option>
        <option value="compétences">Compétences</option>
        <option value="roles">Roles</option>
        <option value="expérience_internationale">Expérience Inter</option>
        <option value="expérience_internationale_benevole">Expérince Inter Bénévole</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="recherche" />
      <select name="champs">
        <option value="francais">Francais</option>
        <option value="anglais">Anglais</option>
        <option value="espagnol">Espagnol</option>
        <option value="allemand">Allemand</option>
        <option value="italien">Italien</option>
        <option value="portugais">Portugais</option>
        <option value="chinois">Chinois</option>
        <option value="russe">Russe</option>
        <option value="arabe">Arabe</option>
        <option value="autres">Autres Langues</option>
        <option value="secteurs">Secteurs</option>
        <option value="domaines">Domaines</option>
        <option value="fonctions">Fonctions</option>
        <option value="compétences">Compétences</option>
        <option value="roles">Roles</option>
        <option value="expérience_internationale">Expérience Inter</option>
        <option value="expérience_internationale_benevole">Expérince Inter Bénévole</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="recherche" />
      <select name="champs">
        <option value="francais">Francais</option>
        <option value="anglais">Anglais</option>
        <option value="espagnol">Espagnol</option>
        <option value="allemand">Allemand</option>
        <option value="italien">Italien</option>
        <option value="portugais">Portugais</option>
        <option value="chinois">Chinois</option>
        <option value="russe">Russe</option>
        <option value="arabe">Arabe</option>
        <option value="autres">Autres Langues</option>
        <option value="secteurs">Secteurs</option>
        <option value="domaines">Domaines</option>
        <option value="fonctions">Fonctions</option>
        <option value="compétences">Compétences</option>
        <option value="roles">Roles</option>
        <option value="expérience_internationale">Expérience Inter</option>
        <option value="expérience_internationale_benevole">Expérince Inter Bénévole</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="recherche" />
      <select name="champs">
        <option value="francais">Francais</option>
        <option value="anglais">Anglais</option>
        <option value="espagnol">Espagnol</option>
        <option value="allemand">Allemand</option>
        <option value="italien">Italien</option>
        <option value="portugais">Portugais</option>
        <option value="chinois">Chinois</option>
        <option value="russe">Russe</option>
        <option value="arabe">Arabe</option>
        <option value="autres">Autres Langues</option>
        <option value="secteurs">Secteurs</option>
        <option value="domaines">Domaines</option>
        <option value="fonctions">Fonctions</option>
        <option value="compétences">Compétences</option>
        <option value="roles">Roles</option>
        <option value="expérience_internationale">Expérience Inter</option>
        <option value="expérience_internationale_benevole">Expérince Inter Bénévole</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="recherche" />
      <select name="champs">
        <option value="francais">Francais</option>
        <option value="anglais">Anglais</option>
        <option value="espagnol">Espagnol</option>
        <option value="allemand">Allemand</option>
        <option value="italien">Italien</option>
        <option value="portugais">Portugais</option>
        <option value="chinois">Chinois</option>
        <option value="russe">Russe</option>
        <option value="arabe">Arabe</option>
        <option value="autres">Autres Langues</option>
        <option value="secteurs">Secteurs</option>
        <option value="domaines">Domaines</option>
        <option value="fonctions">Fonctions</option>
        <option value="compétences">Compétences</option>
        <option value="roles">Roles</option>
        <option value="expérience_internationale">Expérience Inter</option>
        <option value="expérience_internationale_benevole">Expérince Inter Bénévole</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="recherche" />
      <select name="champs">
        <option value="francais">Francais</option>
        <option value="anglais">Anglais</option>
        <option value="espagnol">Espagnol</option>
        <option value="allemand">Allemand</option>
        <option value="italien">Italien</option>
        <option value="portugais">Portugais</option>
        <option value="chinois">Chinois</option>
        <option value="russe">Russe</option>
        <option value="arabe">Arabe</option>
        <option value="autres">Autres Langues</option>
        <option value="secteurs">Secteurs</option>
        <option value="domaines">Domaines</option>
        <option value="fonctions">Fonctions</option>
        <option value="compétences">Compétences</option>
        <option value="roles">Roles</option>
        <option value="expérience_internationale">Expérience Inter</option>
        <option value="expérience_internationale_benevole">Expérince Inter Bénévole</option>
      </select>
    </div>
  </form>
  <button type="submit" form="my-form">ok</button>
</div>

{% endblock %}
