{% extends "base.html" %}

{% block content %}
    <h1>Enregistrer un bénévole: </h1>
    <form action="" method="post" novalidate>
        {{ benevole.hidden_tag() }}
        <p>
            {{ benevole.id.label}}<br>
            {{ benevole.id(size=32)}}<br>
            {% for error in benevole.id.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.nom.label}}<br>
            {{ benevole.nom(size=32)}}<br>
            {% for error in benevole.nom.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.prenom.label }}<br>
            {{ benevole.prenom(size=32) }}<br>
            {% for error in benevole.prenom.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.email.label }}<br>
            {{ benevole.email(size=32) }}<br>
            {% for error in benevole.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.numero.label }}<br>
            {{ benevole.numero(size=32) }}<br>
            {% for error in benevole.numero.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.francais.label }}<br>
            {{ benevole.francais(size=32) }}<br>
            {% for error in benevole.francais.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.anglais.label }}<br>
            {{ benevole.anglais(size=32) }}<br>
            {% for error in benevole.anglais.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.espagnol.label }}<br>
            {{ benevole.espagnol(size=32) }}<br>
            {% for error in benevole.espagnol.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.allemand.label }}<br>
            {{ benevole.allemand(size=32) }}<br>
            {% for error in benevole.allemand.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.italien.label }}<br>
            {{ benevole.italien(size=32) }}<br>
            {% for error in benevole.italien.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.portugais.label }}<br>
            {{ benevole.portugais(size=32) }}<br>
            {% for error in benevole.portugais.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.chinois.label }}<br>
            {{ benevole.chinois(size=32) }}<br>
            {% for error in benevole.chinois.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.russe.label }}<br>
            {{ benevole.russe(size=32) }}<br>
            {% for error in benevole.russe.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.arabe.label }}<br>
            {{ benevole.arabe(size=32) }}<br>
            {% for error in benevole.arabe.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.autres.label }}<br>
            {{ benevole.autres(size=32) }}<br>
            {% for error in benevole.autres.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.secteurs.label }}<br>
            {{ benevole.secteurs(size=32) }}<br>
            {% for error in benevole.secteurs.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.domaines.label }}<br>
            {{ benevole.domaines(size=32) }}<br>
            {% for error in benevole.domaines.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.fonctions.label }}<br>
            {{ benevole.fonctions(size=32) }}<br>
            {% for error in benevole.fonctions.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.competences.label }}<br>
            {{ benevole.competences(size=32) }}<br>
            {% for error in benevole.competences.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.roles.label }}<br>
            {{ benevole.roles(size=32) }}<br>
            {% for error in benevole.roles.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.expérience_internationale.label }}<br>
            {{ benevole.expérience_internationale(size=32) }}<br>
            {% for error in benevole.expérience_internationale.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ benevole.expérience_internationale_benevole.label }}<br>
            {{ benevole.expérience_internationale_benevole(size=32) }}<br>
            {% for error in benevole.expérience_internationale_benevole.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ benevole.submit() }}</p>
    </form>
{% endblock %}
