{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block title %} Recherche{% endblock %}

{% block page_header %}

<h2 class="d-flex justify-content-center">Recherche textuelle</h2>
{% endblock page_header %}

{% block content %}

<form class="d-flex justify-content-center" action="/search_text" method="post" novalidate>
    {{ search_form.hidden_tag() }}
        <div class="container">
            <div class="row justify-content-center mb-2">
                <div class="col-8">
                    {{ render_field(search_form.search, form_type="inline", class="form-control") }}
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    {{ render_field(search_form.submit) }}
                </div>
            </div>
        </div>
</form>

{% endblock %}
