{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block title %} Recherche{% endblock %}

{% block page_header %}

<h2 class="d-flex justify-content-center">Recherche textuelle</h2>
{% endblock page_header %}

{% block content %}

<form class="text-center" id="search_text" action="{{ url_for('search_text') }}" method="post">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" value="{{ search }}" name="search" aria-label="Recherche" placeholder="Je recherche..." aria-describedby="button-addon2" action="{{ url_for('search_text') }}" method="post">
                    <button class="btn btn-primary" type="submit" form="search_text" id="button-addon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</form>

{% endblock %}
